@model __MODEL_WIHT_NAMESPACE__

<h3 class="page-header">__MODEL_NAME__ Details</h3>
<div class="panel panel-primary">
    <div class="panel-body">
        <dl class="dl-horizontal">
            __DETAILS_ROW__
        </dl>
        <div class="pull-right">
            <a asp-controller="__MODEL_NAME__" asp-action="Index" class="btn  btn-info">Back</a>
        </div>
    </div>
</div>
