@model __MODEL_WIHT_NAMESPACE__

<h3 class="page-header">Create __MODEL_NAME__</h3>
<div class="panel panel-primary">
    <div class="panel-body">
        <form asp-action="Edit" asp-controller="__MODEL_NAME__" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="RowVersion" />
            @Html.Partial("Form")
            <div class="form-action pull-right">
                <button name="create" class="btn btn-primary" type="submit">Update</button>
                <a asp-controller="__MODEL_NAME__" asp-action="Index" class="btn  btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>