@model MiaISoftMasterApp.Models.Organizer

<h3 class="page-header">Create Organizer</h3>
<div class="panel panel-primary">
    <div class="panel-body">
        <form asp-action="Create" asp-controller="Organizer" method="post">
            @Html.Partial("Form")
            <div class="form-action pull-right">
                <button name="create" class="btn btn-primary" type="submit">Create</button>
                <a asp-controller="Organizer" asp-action="Index" class="btn  btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

